@import "tailwindcss";

@theme {
  --color-background: #e8d5a4;
  --color-surface: #f5edd0;
  --color-surface-alt: #ede0bc;
  --color-primary: #c8952a;
  --color-primary-light: #e8b84b;
  --color-ember: #8b1a1a;
  --color-cream: #2a1a08;
  --color-muted: #7a5c30;
}
